header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 16px 16px 32px 16px; /* top, right, bottom, left */
  background-color: #f5ba13;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}