/* Reset default spacing and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fixed full-width navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: #f5ba13;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

body {
  padding-top: 80px; 
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "McLaren", cursive;
  color: #fff;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-family: "McLaren", cursive;
  font-weight: 700;         
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #000;
}

.link-button {
  background: none;
  border: none;
  color: #333;
  font-family: "McLaren", cursive;
  font-weight: 700;         
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link-button:hover {
  text-decoration: underline;
  color: #000;
}

.link-button.logout {
  color: #b30000;
  font-family: "McLaren", cursive;
  font-weight: 700;         
  font-size: 1.1rem;
}

.link-button.logout:hover {
  text-decoration: underline;
  color: #ff0000;
}
